<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{{# if title }}
		<title>{{ title }}</title>
	{{else}}
		<title>No title specified</title>
	{{/if}}
	<link rel="stylesheet" type="text/css"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/content/css/main.css">
	<style>
		{{{_sections.styles}}}
	</style>
</head>
<body ng-app="myApp">
	{{{ body }}}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	{{{_sections.scripts}}}
</html>
	