{{>navigation_bar}}

{{#if req.session.userid }}
	<h1>Welcome, {{ req.session.user }}</h1>
{{/if}}

<!--{{makeLink "Signup page" "signup"}}
<br>
{{makeLink "Login page" "login"}}
<br>
<br>-->
{{makeLink " View users in mysql server" "mysql"}}
<br>
{{makeLink " View users in mongodb server" "mongo"}}