{{>navigation_bar}}

{{#if session.userid }}
	<h1>Welcome, {{ session.username }}</h1>
{{/if}}

<br>
<p style="padding-left: 10px;">{{makeLink " View users in mysql server" "mysql"}}</p>
<!--<p style="padding-left: 10px;">{{makeLink " View users in mongodb server" "mongo"}}</p>-->

<div ng-app="myApp" style="padding-left: 10px;" ng-controller="viewRegions">
	<h1>List of Regions in {{ng "regionModal.currentRegion.name"}}</h1>
	<button ng-click="regionModal.back()" ng-if="regionModal.list[regionModal.currentRegion.id].parent != -1">back</button>
	<hr>
	<button class="btn btn-default" ng-repeat="data in regionModal.list[regionModal.currentRegion.id].r" ng-click="regionModal.select(data.id)">{{ng "data.name"}}</button>
	<p ng-if="regionModal.list[regionModal.currentRegion.id].r.length == 0">No sub-regions found</p>
</div>

{{#section 'scripts'}}

<script type="application/javascript">
var app = angular.module('myApp', []);
app.controller("viewRegions", function($scope, $http) {
	$scope.regionModal = getRegionModal($scope.form, $http);
})

</script>
<script src="/content/js/getRegions.js"></script>
{{/section}}